$background-color: black;
$primary-color: blue;
$secondary-color: rgb(20, 210, 235);
$light_color: white;
$medium-color: 1px rgb(243, 72, 72);
$font-family: 'Dancing Script', cursive;
$font-size-large: 60px;
$font-size-medium: 45px;
$font-weight: bold;
$text-shadow:
    3px 3px 0 gold,
    -1px -1px 0 #0bd074,
    1px -1px 0 #bee716,
    -1px 1px 0 #ec0ca5,
    1px 1px 0 #02c7f8;